:root {
    --primary-color: hsl(212, 45%, 89%);
    --card-background-color: hsl(0, 0%, 100%);
    --background-color: #D5E1EF;
    --text-color-primary: hsl(216, 15%, 48%);
    --text-color-secondary: hsl(218, 44%, 22%);
    --font-family: "Outfit", sans-serif;
}

body {
    font-family: var(--font-family), sans-serif;
    background: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: var(--card-background-color);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 25rem;
    min-width: 0;
    /*box-sizing: border-box;*/
}

.qr-image {
    border-radius: 10px;
    width: 100%;
    scale: 0.75;
}

.card-content{
    /*margin-top: 1.5rem;*/
}

.title {
    /*margin-top: 1rem;*/
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-color-secondary);
}

.description {
    /*margin-top: 1rem;*/
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color-primary);
    line-height: 1.5;
}

@media (max-width: 480px) {
    .card {
        padding: 1rem; /* Reduce padding */
        width: 90%; /* Adjust width for smaller screens */
        max-width: 20rem; /* Limit max width */
    }

    .qr-image {
        scale: 0.6; /* Reduce QR image size */
        margin-bottom: 0.75rem; /* Adjust margin */
    }

    .title {
        font-size: 1rem; /* Reduce font size */
        margin-top: 0.75rem; /* Adjust margin */
    }

    .description {
        font-size: 0.875rem; /* Reduce font size */
        margin-top: 0.5rem; /* Adjust margin */
    }
}