:root {
    --primary-color: hsl(212, 45%, 89%);
    --card-background-color: hsl(0, 0%, 100%);
    --background-color: #D5E1EF;
    --text-color-primary: hsl(216, 15%, 48%);
    --text-color-secondary: hsl(218, 44%, 22%);
    --font-family: "Outfit", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family), sans-serif;
    background: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: var(--card-background-color);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 100%;
    max-width: 20rem;
}

.qr-image {
    border-radius: 10px;
    width: 100%;
    /*max-width: 12rem; !* Set a fixed maximum width for the QR image *!*/
    margin: 0 auto 1rem; /* Center the image and add spacing below */
}

.title {
    /*font-size: 1.25rem;*/
    font-weight: 700;
    color: var(--text-color-secondary);
    /*margin-top: 1rem;*/
}

.description {
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color-primary);
    line-height: 1.5;
}